<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <title>Book List</title>
        <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>

    <body>
        <div th:if="${param.error}">无效的用户名或者密码！</div>
        <div th:if="${param.logout}">你已经退出。</div>
        <form name="f" th:action="@{/login}" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="password">
            <label for="remember_me">保持登陆</label>
            <input type="checkbox" id="remember_me" name="remember-me">
            <input name="submit" type="submit" value="登陆"/>
        </form>
    </body>
</html>